<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>内页</title>
<link rel="stylesheet" type="text/css" href="sys_resource/css/base.css" />
<link rel="stylesheet" type="text/css" href="sys_resource/css/layout.css" />
<script type="text/javascript" src="sys_resource/js/jquery-1.10.2.js"></script>
<script type="text/javascript" src="sys_resource/js/sort.js"></script>
<script type="text/javascript" src="sys_resource/js/mod.js"></script>
</head>

<body class="List_body List_ttl">
<input type="hidden" name="col" value="<{$smarty.get.col}>" />


<style>
.listQ ol{ padding:30px 0; border-bottom:#ddd 1px dotted;}
.listQ a{ float:left; width:200px; text-align:center; font-weight:bold; line-height:26px;}
</style>
<div class="listQ">
	<ol class="over">
        <a href="index.php?col=question&id=1"><img src="images/mode/0/HTML.png" /><p>HTML</p></a>
        <a href="index.php?col=question&id=2"><img src="images/mode/0/CSS.png" /><p>CSS</p></a>
        <a href="index.php?col=question&id=3"><img src="images/mode/0/JS.png" /><p>JS</p></a>
        <a href="index.php?col=question&id=5"><img src="images/mode/0/JQ.png" /><p>JQ插件集</p></a>
    </ol>
    <ol>
        <a href="index.php?col=question&id=4"><img src="images/mode/0/PHP.png" /><p>PHP</p></a>
        <a href="index.php?col=question&id=6"><img src="images/mode/m/cat_1.jpg" /><p>CMS_dede</p></a>
        <a href="index.php?col=question&id=7"><img src="images/mode/m/cat_1.jpg" /><p>CMS_ecshop</p></a>
    </ol>
    <ol>
        <a href="index.php?col=question&id=9"><img src="images/mode/m/cat_1.jpg" /><p>其他</p></a>
    </ol>
</div>



</body>
</html>
