<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
	<title>shop</title>
	<link rel="stylesheet" type="text/css" href="sys_resource/css/base.css" />
	<link rel="stylesheet" type="text/css" href="sys_resource/css/layout.css" />
	<script type="text/javascript" src="sys_resource/js/jquery-1.10.2.js"></script>
</head>

<body>


<!--头部 start-->
<div class="H v"></div>
<script>$(function(){$(".H").load('header.html');});</script>
<!--头部 end-->


<main>
<{$rsInfo.html}>
</main><!--main end-->


<!--底部 start-->
<div class="F v"></div>
<script>$(function(){$(".F").load('footer.html');});</script>
<!--底部 end-->


</body>
</html>
